/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
/* Это было самое начало пути. На этом этапе важно было проникнуться основами и настроиться на учёбу. И, возможно, подумать, как новые знания могут повлиять на ваше будущее. */
@font-face {
  font-family: 'Inter';
  src: 
    url(./Inter-Variable.woff2) format('woff2 supports variations'),
    url(./Inter-Variable.woff2) format('woff2-variations');
  font-display: swap;
  font-weight: 400 715;
}

@font-face {
  font-family: 'PressStart2P';
  src: url(./PressStart2P-Regular.woff) format('woff');
  font-display: swap;
  font-weight: 400;

}