.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main, "Inter", sans-serif);
  background-image: var(--background-gradient);
  background-size: cover;
}

header {
  display: flex;
  font-family: var(--font-accent);
  background-color: var(--bg-color);
  margin: 100px auto;
  height: var(--common-height);
}

header,
.card {
  width: var(--common-width);
  border: 2px solid black;
}

.title {
  margin: auto;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-variation-settings: "wght" var(--font-weight-title, 700);
}

.main-title {
  width: var(--header-width);
  font-size: clamp(49px, 43.37px + 1.5vw, 65px);
}

.main-subtitle {
  display: flex;
  justify-content: center;
  font-size: clamp(14px, 10.83px + 0.85vw, 23px);
}

.cards_list {
  margin-bottom: 100px;
}

.card {
  background-color: white;
  margin: auto auto 50px auto;
}

.card-image {
  width: 100%;
  background-size: cover;
  height: var(--common-width);
}

.card-title {
  padding: 4px 10px;
  font-family: var(--font-common);
  font-weight: var(--font-weight-title);
}

.description {
  display: flex;
  flex-direction: column;
  gap: 21px;
  padding: 25px 25px 18px 25px;
  font-family: var(--font-common);
  font-weight: var(--font-weight-text);
  line-height: 21px;
}

.card-title,
.card-image {
  border-bottom: 2px solid black;
}
.card-title,
.description {
  font-size: var(--common-fs);
}

button {
  background-color: white;
  color: white;
  width: fit-content;
  font-family: var(--font-accent);
  margin-left: 1px;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  transition: scale 10s ease-in-out;
}

button:hover {
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  transform: translate(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translate(0);
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  font-size: 14px;
}

.modal svg {
  mix-blend-mode: difference;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.card__like-button {
  outline: 0;
  border: 2px solid black;
  padding: 10px 35px;
}

.button_save {
  display: flex;
  margin: auto;
  align-items: center;
  min-width: 306px;
  white-space: nowrap;
  padding: 19px 20px;
  gap: 13px;
}

.modal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  position: relative;
  z-index: 1;
}

.card_image_zone {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.label {
  position: absolute;
  background-color: inherit;
  color: transparent;
  mix-blend-mode: hard-light;
  margin: 25px 25px 0 0;
  font-family: var(--font-accent);
  -webkit-text-stroke: 1px var(--bg-color);
}

@supports (-webkit-text-stroke: 4px var(--bg-color)) {
  label {
    -webkit-text-stroke: 4px var(--bg-color);
  }
}

.dialog {
  width: var(--cont-button-width);
  margin: 0;
  font-family: var(--font-accent);
  padding: 30px 40px;
}

.dialog[open] {
  flex-direction: column;
  gap: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog[open]::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.dialog svg {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

.opened-dialog {
  line-height: 150%;
  font-size: 14px;
}

@media (width <= 375px) {
  .card-title {
    display: flex;
    flex-direction: column;
  }

  .description {
    gap: 25px;
  }
}

@media (width < 1440px) {
  .button_save {
    flex-direction: column;
  }
}

.begining {
  filter: grayscale(1) sepia(20%);
}

.clean {
  filter: grayscale(0.8) brightness(80%);
}
.whatif {
  filter: grayscale(0.6) blur(0.2rem);
}

.chase {
  filter: brightness(80%) saturate(0.5);
}

.close {
  filter: brightness(80%) saturate(0.5) hue-rotate(-10deg);
}

.way {
  filter: hue-rotate(-120deg) saturate(1.2);
}

.hands {
  filter: opacity(0.4) saturate(1.8);
}

.opened-dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.floppy_continue {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.button_ok {
  width: 100%;
  padding: 12.5px 116.5px;
}

.button_save:focus,
.card__like-button:focus {
  box-shadow: 2px 2px 0 black;
}

.like {
  background-color: transparent;
  padding: 3px;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.like:focus-visible {
  outline: 0;
  border: 2px solid black;
}

.button_ok,
.button_save {
  outline: none;
  border: 2px solid black;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0.06s;
}

.like-icon.is-liked .sparks {
  animation: sparks-appear 0.3s ease-in;
  transition-delay: 0.3s;
}

.like-icon.is-liked {
  animation: heart-scale 0.3s ease-in;
  animation-delay: 0.1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
