html {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

.page {
  margin: auto;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main, "Inter", sans-serif);
  font-variation-settings: "wght" var(--font-weight-text, 400);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  width: var(--common-width);
}

header {
  font-family: var(--font-accent, "PressStart2P", monospace);
  background-color: var(--bg-color);
  margin: 98px auto;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-variation-settings: "wght" var(--font-weight-title, 715);
}

@media (width <= 376px) {
  .header {
    padding-top: 122px;
    padding-bottom: 122px;
  }

  .card-title {
    display: flex;
    flex-direction: column;
  }

  .floppy_open {
    width: 28px;
    height: 28px;
  }

  .button_save {
    flex-direction: column;
    padding: 14px 20px;
  }
}

@media (width > 376px) {
  .header {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .floppy_open {
    height: 21px;
    width: 21px;
  }

  .button_save {
    padding: 19px 20px;
  }
}

.header,
.floppy_continue {
  text-transform: uppercase;
}

.header,
.card {
  border: 2px solid black;
}

.main-title {
  font-size: clamp(49px, 43.37px + 1.5vw, 65px);
  font-variation-settings: "wght" var(--font-weight-title, 715);
}

.main-subtitle {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: clamp(14px, 10.83px + 0.85vw, 23px);
  font-variation-settings: "wght" var(--font-weight-text, 400);
}

.cards_list {
  margin-bottom: 100px;
  width: var(--common-width);
}

.card {
  background-color: white;
  margin: auto auto 50px auto;
}

.card-image {
  width: 100%;
  object-position: center;
  object-fit: initial;
  aspect-ratio: 1 / 1;
}

.card-title {
  padding: 4px 10px;
  font-family: var(--font-main, "Inter", sans-serif);
  font-size: var(--common-fs);
  font-variation-settings: "wght" var(--font-weight-title, 700);
  border-bottom: 2px solid black;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 25px 24px 25px;
  font-family: var(--font-main, "Inter", sans-serif);
  font-size: var(--common-fs);
  font-variation-settings: "wght" var(--font-weight-text, 400);
  line-height: 21px;
  border-top: 2px solid black;
}

.card-title,
.description {
  font-size: var(--common-fs);
}

button {
  background-color: white;
  color: white;
  width: fit-content;
  font-family: var(--font-accent, "PressStart2P", monospace);
  margin-left: 1px;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  box-sizing: border-box;
  padding: 0px;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
}

.button-cov {
  border: 2px solid black;
}

.button-cov:hover {
  transition: scale 0.5s ease-in-out;
}

.button-cov::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button-cov:hover::before {
  transform: translateX(0);
}

.button__text {
  mix-blend-mode: difference;
  margin: auto;
}

.card__like-button {
  outline: 0;
  background-color: transparent;
  position: relative;
  width: 130px;
}

.card__like-button:active {
  transform: none;
  outline: none;
}

.save {
  width: 100%;
}

.button_save {
  margin: auto;
  gap: 8px;
}

.button_confirm {
  width: 100%;
  padding: 9px 0;
}

.button_like {
  display: flex;
  gap: 7px;
  margin-top: 3px;
  transition: border 0.3s ease;
  justify-content: flex-end;
}

.button-com:focus {
  outline: 0;
}

.button-com:focus-visible {
  outline: 0;
}

.button-sh:focus {
  box-shadow: 2px 2px 0 black;
}

.card__icon-button {
  border: transparent;
}

.card__icon-button:focus {
  outline: 0;
}

.card__icon-button:focus-visible {
  border: 2px solid black;
}
.modal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  z-index: 1;
}

.card_image_zone {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
}

.label {
  position: absolute;
  background-color: inherit;
  color: transparent;
  mix-blend-mode: hard-light;
  top: 25px;
  right: 25px;
  font-family: var(--font-accent, "PressStart2P", monospace);
  text-shadow: 0 0 5px var(--bg-color);
  -webkit-text-stroke: 1px var(--bg-color);
  opacity: 0.5;
  text-transform: uppercase;
}

@supports (-webkit-text-stroke: 1px var(--bg-color)) {
  .label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
  }
}

.dialog {
  width: var(--cont-button-width);
  margin: 0;
  font-family: var(--font-accent, "PressStart2P", monospace);
  padding: 30px 30px;
  flex-direction: column;
  gap: 30px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-x: hidden;
}

.dialog[open]::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.dialog[open] {
  position: fixed;
}

.opened-dialog {
  line-height: 150%;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.filter-sep {
  filter: grayscale(1) sepia(20%);
}

.filter-bright {
  filter: grayscale(0.8) brightness(80%);
}

.filter-blur {
  filter: grayscale(0.6) blur(0.2rem);
}

.filter-satur {
  filter: brightness(80%) saturate(0.5);
}

.filter-rotate {
  filter: brightness(80%) saturate(0.5) hue-rotate(-10deg);
}

.filter-huesatur {
  filter: hue-rotate(-120deg) saturate(1.2);
}

.filter-opac {
  filter: opacity(0.4) saturate(1.8);
}

.floppy_continue {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0.06s;
}

.like-icon.is-liked .sparks {
  animation: sparks-appear 0.3s ease-in;
}

.like-icon.is-liked {
  animation: heart-scale 0.3s ease-in;
  animation-delay: 0.1s;
}

.dialog-text {
  width: 234px;
}
